* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #5A9690;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    background-color: #D9E9CF;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    font-size: 8vmin;
    color: #636CCB;
    font-family: "Protest Revolution", sans-serif;
    opacity: 0.6;
}

#reset-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #19183B;
    color: #FDF4E3;
    border-radius: 1rem;
    border: none;

}

#new-btn {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #19183B;
    color: #FDF4E3;
    border-radius: 1rem;
    border: none;
}

#msg {
    color: #FFECC0;
    font-size: 3rem;
}


.msg-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}

.clicked {
    animation: flip 0.2s ease-in 0s 1 normal ;
}


@keyframes flip {
    0% {
        transform: scale(1)
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}